.card {
    width: 70%;
    height: 100%;
    color: white;
    font-family: arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    transition: all .8s;
}

.borderImg {
    height: 369px;
    width: 280px;
    position: relative;
}

.card0 {
    background: url('src/assets/img/cartShop.png') center center no-repeat;
    background-size: cover;
}

.card0:hover {
    background: url('src/assets/img/cartShop.png') left center no-repeat;
    background-size: 600px;
}