@import url('https://cdn.syncfusion.com/ej2/material.css');


html {
  scroll-behavior: smooth;
}

.nav-item,
e .navbar {
  z-index: 10000;
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}